* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1000px;
    height: 800px;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(135, 185, 250);
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
}

.nav a {
    text-decoration: none;
    color: whitesmoke;
}

.nav2 {
    display: flex;
    padding: 20px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 0px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather {
    background-color: rgb(206, 206, 206);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 175px;
}

.weather img {
    height: 140px;
    width: auto;
    border-radius: 50%;
}

.hi {
    color: rgb(133, 11, 11);
    margin-right: 20px;
}

.low {
    color: blue;
    margin-left: 10px;
}

hr {
    color: rgb(0, 0, 0);
    height: 2px;
    background-color:black;
    width: 80%;
    margin: auto;
}

#alert {
    display: flex;
    width: 80%;
    height: 100px;
    border: 3px solid black;
    margin: auto;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-evenly;
    font-size: 12pt;
    background-color: rgb(206, 206, 206);
    position: fixed;
    bottom: 0px;
    left: 10%;
}

#alert p {
    margin-left: 20px;
    margin-right: 30px;
}

#alert button {
    margin-right: 20px;
    width: 150px;
    height: 25px;
    background-color:cornflowerblue;
    border: 2px solid black;
    box-shadow: 3px 3px 1px black;
}

.stop {
    font-size: 20pt;
    font-weight: bold;
}

#temp {
    width: auto;
}